<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490229507845-m2a2apaqj25ldf7ip6gt88m60mbl5rbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490229507845-m2a2apaqj25ldf7ip6gt88m60mbl5rbn</string>
	<key>API_KEY</key>
	<string>AIzaSyBXPLUsYcfWh72ZdtMPvcIKVNI1gZ9iyk0</string>
	<key>GCM_SENDER_ID</key>
	<string>490229507845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.iForget</string>
	<key>PROJECT_ID</key>
	<string>iforget-ba161</string>
	<key>STORAGE_BUCKET</key>
	<string>iforget-ba161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490229507845:ios:4c61f9b6eeba4830b1396c</string>
	<key>DATABASE_URL</key>
	<string>https://iforget-ba161.firebaseio.com</string>
</dict>
</plist>